<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/common/header', title: Dealership.model_name.human, subtitle: 'Edit' %>
    <%= render 'form' %>
  </div><!-- /col-md-12 -->
</div><!-- /row -->